body{
    background-color: white;
}


.red{
    border: 2px solid grey;
    border-radius: 15px;
    box-shadow: 0 0px 10px grey;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    position:relative;
}
.myimage{
    object-fit: cover;  
    border-radius: 5px;
    box-shadow: 0 0px 10px grey;
}
/* ul{
    position: absolute;
    top:50px;
    left: 300px;
} */

ul{
    list-style-type: circle;
    
}
article:hover{
    cursor: pointer;
    
}
#listProducts{
    background-color: lightgrey;
    margin-top: 100px;
    margin-bottom: 100px;
}

#productContainer{
    margin-top: 100px;
}

#panierContainer{
    margin-top: 100px;
}